<h1><%=@brewery.name%></h1>

<ul>
    <% @brewery.beers.each do |beer| %>
        <li>
            <a href="/beers/<%=beer.id%>">
                <%= beer.name %> 
            </a> 
        </li>
        <% end %>
</ul>